In [41]:
import pandas as pd
import json

with open("stations.json") as f:
    data = json.load(f)

list_data = []

for i in list(data["features"].keys()):
    list_data.append(data["features"][i]["properties"])
    
df = pd.DataFrame(list_data)
df

,COMMUNE,NUM_POSTE,ALTI,NOM_USUEL,LAT_DG,NUM_DEP,LON_DG,ficheClimComplete,ficheClimReduite
0,ARBENT,01014002,534,ARBENT,46.278167,1,5.669000,0,1
1,BALAN,01027003,196,BALAN_AERO,45.833000,1,5.106667,0,0
2,BANEINS,01028001,243,BANEINS,46.122000,1,4.904500,0,1
3,VALSERHONE,01033002,350,BELLEGARDE,46.086500,1,5.814167,1,1
4,BELLEY,01034004,330,BELLEY,45.769333,1,5.688000,0,1
...,...,...,...,...,...,...,...,...,...
2389,POYA,98827002,82,NEPOUI,-21.318167,988,165.002167,1,1
2390,TOUHO,98830002,2,TOUHO AEROD.,-20.789333,988,165.254500,0,1
2391,YATE,98832002,25,YATE MRIE,-22.156500,988,166.939000,0,1
2392,YATE,98832006,171,RIVIERE BLANCHE,-22.132667,988,166.726333,0,1
2393,YATE,98832101,298,GORO_ANCIENNE_PEPINIERE,-22.269167,988,166.967500,0,1

In [42]:
df.to_csv('stations_metadata.csv', index=False)